<div class="container text-center">
  <h1>Specific Device and Status</h1>
  <p>Type: <%= @category.capitalize %></p>
  <p>Status: <%= @status.capitalize %></p>
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Devices</th>
      </thead>
      <%  for i in (1..30)  %> 
      <tr style="text-align: left;">
        <td>
          <% date = @today - i.days %>
          <%= date.strftime("%d\/%m\/%y") %>
        </td>
        <td><%=  @reports.where(timestamp: date.all_day).count %></td>
      </tr>
      <% end %>
    </table>
  <%= link_to("Return",root_path,class:"btn btn-default") %>
  </div>
</div>
