<style>
.positive{
  color:green;
}
.neutral{
  color:gray;
}
.negative{
  color:red;
}
</style>

<div class="container">
  <h1><%=  @date.strftime("%d\/%m\/%y") %></h1>
  <p>Devices with the most occurences</p>
  <% if @devices.length == 0 %>
    <p>NO DEVICES TO SHOW</p>
  <% end %>


  <table class="table">
    <thead>
      <th>Rank</th>
      <th>Serial</th>
      <th>Type</th>
      <th>Frequency</th>
      <th>Percentage Change</th>
    </thead>

    <% @devices.each_with_index do |device, index| %>
      <% if index < 10 %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= device[:serial] %></td>
          <td><%= device[:category] %></td>
          <td><%= device[:frequency] %></td>

          <% if device[:change] > 0 %>
            <td class="positive">
              + <%= device[:change].round(2) %>
            </td>
          <% elsif device[:change] == 0 %>
            <td class="neutral">
              <%= device[:change].round(2) %>
            </td>
          <% else %>
            <td class="negative">
              <%= device[:change].round(2) %>
            </td>
          <% end %>
        </tr>
        <% else %>

        <tr class="hidden additional">
          <td><%= index + 1 %></td>
          <td><%= device[:serial] %></td>
          <td><%= device[:category] %></td>
          <td><%= device[:frequency] %></td>

          <% if device[:change] > 0 %>
            <td class="positive">
              + <%= device[:change].round(2) %>
            </td>
          <% elsif device[:change] == 0 %>
            <td class="neutral">
              <%= device[:change].round(2) %>
            </td>
          <% else %>
            <td class="negative">
              <%= device[:change].round(2) %>
            </td>
          <% end %>

        </tr>
      <% end %>
    <% end %>

  </table>
  <% if @devices.length > 10 %>
    <a href="" id="show-more" class="btn btn-default">Show/Hide <%= @devices.length - 10 %> more with frequency <%= @devices[-1][:frequency]  %></a>
  <% end %>
  <%= link_to("Return",root_path,class:"btn btn-default") %>
</div>

<script type="text/javascript">
  const hidden_elements = document.querySelectorAll(".additional");
  if (hidden_elements.length > 0){
    document.getElementById("show-more").addEventListener("click",(event)=>{
      event.preventDefault();
      hidden_elements.forEach((element)=>{
        element.classList.toggle("hidden");
      });
    });
  }
</script>
